<header class="d-flex flex-wrap justify-content-center p-3 mb-4 border-bottom user-action  ">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Angular Project</span>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item" routerLinkActive="active" ><a routerLink="./home" class="nav-link">Home</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="./products" class="nav-link">Products</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="./todo" class="nav-link">To-Do</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="./survey" class="nav-link">Survey</a></li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="nav-link" >
          <i class="bi bi-box-arrow-left"></i>
        </a>
      </li>
    </ul>
</header>