.loginForm {
    margin-top: 50px;
}
.link {
    cursor: pointer;
}
.form {
    padding: 3px;
    border-radius: 5px;
    fieldset {
      border: none;
      padding: 0;
      margin: 20px 0;
      position: relative;
      
      input {
        width: 100%;
        height: 48px;
        color: hsl(0, 0, 20);
        padding: 15px 40px 15px 15px;
        border-radius: 5px;
        font-size: 14px;
        outline: none!important;
        border: 1px solid hsla(0, 0, 0, 0.3);
        box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
        vertical-align: top;
      }
    }
    button {
      width: 100%;
      outline: none!important;
      background: linear-gradient(134deg, #2d77ff, #88a9ff);
      border: none;
      text-transform: uppercase;
      font-weight: bold;
      box-shadow: 0 3px 0px hsla(86, 21%, 44%, 0.2);
      text-shadow: 0 2px 3px hsla(0, 0, 0, 0.2);
    }
    
  }
  
  
  
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: hsl(0, 0, 100);
    border-radius: 10px;
    box-shadow: 0 3px 25px hsla(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    min-width: 850px;
    min-height: 500px;
  }
  .login-classic {
    margin: auto;
  }
  .login-connect,
  .login-classic
  {
    width: 50%;
    padding: 30px 50px;
  }
  
  .login-connect {
    background: linear-gradient(134deg, #2d77ff, #88a9ff);
    color: white;
    
    h1 {
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 40px;
      text-shadow: 0 2px 3px hsla(0, 0, 0, 0.1);
    }
    
  }
  
  .login-classic {
    
    h2 {
      font-size: 16px;
      font-weight: normal;
      margin-top: 23px;
      margin-bottom: 43px;
      text-shadow: 0 2px 3px hsla(0, 0, 0, 0.1);
    }
    
    
   
  }