<div class="login">
    <div class="login-connect d-flex">
      <h1 class="m-auto">Welcome</h1>
    </div>
    <div class="login-classic">
        <form [formGroup]="authForm" (submit)="onSubmit()" class="form">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" formControlName="email"  name="emailadd">
            </div>
            <div *ngIf="!authForm.controls['email'].valid && authForm.controls['email'].touched">
                <span class="text-danger">Email is required</span>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control"  name="password" formControlName="pwd" >
            </div>
            <div *ngIf="!authForm.controls['pwd'].valid && authForm.controls['pwd'].touched">
                <span class="text-danger">Password is required</span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">sign in</button>
            </div>
        </form>
    </div>
</div>