<div class="login">
    <div class="login-connect d-flex">
      <h1 class="m-auto">Welcome</h1>
    </div>
    <div class="login-classic">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" class="form">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" ngModel name="userName" #userName="ngModel" required>
                <div *ngIf="!userName.valid && userName.touched">
                    <span class="text-danger">Name is required</span>
                </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" ngModel name="emailadd" #emailAddress="ngModel" required>
            </div>
            <div *ngIf="!emailAddress.valid && emailAddress.touched">
                <span class="text-danger">Email is required</span>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" ngModel name="password"  #password="ngModel" required>
            </div>
            <div *ngIf="!password.valid && password.touched">
                <span class="text-danger">Password is required</span>
            </div>
            <div class="mb-3">
                <label for="number" class="form-label">Number</label>
                <input type="number" class="form-control" ngModel name="phone" required>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">continue</button>
            </div>
        </form>
    </div>
</div>