<div class="container">
        <app-header></app-header>
        <div>Main Page Test</div>



        <div *ngFor="let num of randomNums">
            <span>{{ num }} is </span>
            <ng-container [ngSwitch]="num % 2">
                <span *ngSwitchCase="1">კენტი</span>
                <span *ngSwitchCase="0">ლუწი</span>
            </ng-container>
        </div>





        <!-- <router-outlet></router-outlet> -->
        <!-- <div>Footer here</div> -->
</div>

    <!-- <app-home></app-home> -->
    <!-- <div class="string-pipes">
        <h4>{{ title  }}</h4>
        <h4>{{ title | uppercase}}</h4>
        <h4>{{ title | lowercase }}</h4>
        <h4>{{title | titlecase }}</h4>
        <h4>{{ title | slice: 5}}</h4>
        <h4>{{ title | slice: 5 : 12}}</h4>
    </div>
    <div class="object-pipe">
        <h4>{{ person | json }}</h4>
    </div>
    <div class="number-pipe">
        <h4>{{ customNumber }}</h4>
        <h4>{{ customNumber | number: '3.2-4' }}</h4>
        <h4>{{ customNumber | number: '4.1-2' }}</h4>
        <h4>{{ customNumber | percent }}</h4>
        <h4>{{ customNumber | currency: 'EUR': 'code' }}</h4>
        <h4> {{date }} </h4>
        <h4>{{ date | date: 'medium' }}</h4>
    </div> -->

    <!-- <app-products></app-products> -->
    <!-- <app-todo-list></app-todo-list> -->




