$backgroundBlue: rgb(53, 164, 215);
$borderDanger: 1px solid red;
$lightBlue: #f0f5f9;
.survey-form {
    width: 500px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}
.title {
    background-color: $lightBlue;
    font-size: 14px;
    text-align: center;
    padding: 12px;
    margin: 0;
    font-weight: bold;
}
.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input.ng-invalid.ng-touched {
    border: $borderDanger
}
.d-flex .form-field {
    &:nth-child(1) {
        margin-right: 4px
    }
    &:nth-child(2) {
        margin-left: 4px
    }

}
.form-label, .add-control {
    font-size: 12px;
    margin-bottom: 4px;
    font-weight: 700;
}
.add-control {
    cursor: pointer;
}
.container-sm {
    background-color: $lightBlue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px
}

button[type=submit] {
  background-color: #679cd2;
  color:#fff;
  border-radius: 0;
  border: none;
  width: 100%;
}
.text-danger {
    font-weight: 400;
    font-size: 10px;
}