<div class="container-sm">
    <div class="survey-form">
        <h3 class="title">User Form</h3>
        <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" class="mt-4">
            <div class="form-group">
                <div class="form-field">
                    <label for=""  class="form-label">First Name</label>
                    <input type="text"  class="form-control" formControlName="firstName">
                    <div class="text-danger" *ngIf="!surveyForm.get('firstName')?.valid && surveyForm.get('firstName')?.touched">This field is required</div>
                </div>
                <div class="form-field">
                    <label for=""  class="form-label" >Last Name</label>
                    <input type="text"  class="form-control" placeholder="Type your last name" formControlName="lastName">
                    <div *ngIf="surveyForm.invalid && (lastNameControl.touched || lastNameControl.dirty)">
                        <div class="text-danger" *ngIf="lastNameControl.errors?.['minlength']">
                           Last name should be {{ lastNameControl.errors?.['minlength'].requiredLength }}. 
                        </div>
                        <div class="text-danger" *ngIf="lastNameControl.errors?.['required']">
                            This field is reqired
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-field">
                <label for=""  class="form-label">Email</label>
                <input type="text"  class="form-control" formControlName="email">
            </div>
            <div class="form-field"> 
                <label for=""  class="form-label">Age</label>
                <input type="text"  class="form-control" formControlName="age">
            </div>
            <div *ngIf="surveyForm.invalid && (age.touched || age.dirty)">
                <div class="text-danger" *ngIf="age.errors?.['required']">
                    This field is required
                </div>
                <div class="text-danger" *ngIf="age.errors?.['ageNotFit']">
                    Number does not fit.
                 </div>
                 <div class="text-danger" *ngIf="age.errors?.['typeNotMatch']">
                    Incorrect input type
                 </div>
            </div>
            <div formGroupName="address" class="form-group">
                <div class="form-field">
                    <label for=""  class="form-label">Country</label>
                    <input type="text"  class="form-control" formControlName="country">
                </div>
                <div class="form-field">
                    <label for=""  class="form-label">City</label>
                    <input type="text"  class="form-control" formControlName="city">
                </div>
            </div>
            <div class="form-field mt-2" formArrayName="phone">
                <div class="d-flex justify-content-between align-items-center">
                    <label for=""  class="form-label">Phone</label>
                    <span (click)="addNewPhoneControl()" class="add-control" *ngIf="phoneList.valid && (phoneList.dirty || phoneList.touched)">
                        <i class="bi bi-plus-lg"></i>
                        <span>Add another phone number</span>
                    </span> 
                </div>
                <div> 
                    <ng-container *ngFor="let item of phoneList['controls']; let i = index">
                        <input type="text" formControlName="{{i}}" class="form-control" [ngClass]="{'mt-2' : i > 0}">
                        <div class="text-danger" *ngIf="item.errors?.['required'] && (item.touched || item.dirty)">
                            This field is reqired
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="form-field mt-2">
                <label for=""  class="form-label">Gender</label>
                <select name="" id="" class="ms-2 dropdown" formControlName="gender">
                    <option value="null" disabled>Choose your gender</option>
                    <option value="m">Male</option>
                    <option value="fm">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <button type="submit" class="btn mt-4">Submit</button>
        </form>

    </div>
    <div>
        <div>
            <img src="https://cdn-icons-png.flaticon.com/512/146/146025.png" alt="" style="width: 25px; height: 25px">
            <button type="button" class="btn btn-success btn-sm ms-2" (click)="setDefaultForm()">Set Alexa as default</button>
        </div>
        <div class="mt-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReFuNVUscuscAPv7N7laen4v8CC5cb99ZDvi6d_N_-htu6NwOmNSBic_UuZWQAn2YsSP4&usqp=CAU" alt="" style="width: 25px; height: 25px">
            <button type="button" class="btn btn-secondary btn-sm ms-2" (click)="changeGender()">Change my info </button>
        </div>
    </div>
    <div style="width:300px">
        Form Value: {{surveyForm.value | json }}
    </div>
</div>