$backgroundBlue: rgb(53, 164, 215);
$borderDanger: 1px solid red;;
.survey-form {
    width: 300px;
    margin: auto;
    padding: 5px;
    background-color: beige;
}

input.ng-invalid.ng-touched {
    border: $borderDanger
}

.add-control {
    background-color: $backgroundBlue;
    color: white;
    padding: 5px;
    border-radius: 4px;
    margin: 5px 0;
    cursor: pointer;
    text-decoration: none;
}