.description {
    width: 680px;
    .status {
        padding: 1px 7px;
        border-radius: 8px;
        margin-left: 10px;
        background-color: black;
        span {
            font-size: 10px;
            color: white;
        }
    }
}
.title {
    cursor: pointer;
    &:hover {
        opacity: 80%;
    }
}

.bullet {
    display: block;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%
}

.input-group {
    width: 50%;
}