<div class="container">
   
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="search for products..." [(ngModel)]="searchKey" >
        <button class="btn btn-primary" type="button" id="button-addon2" (click)="getResults()">Search</button>
    </div>
    <div>
        <button class="btn" (click)="showForm = !showForm">{{ showForm ? 'Close' : '+ Add Product'}}</button>
    </div>
    <div class="" *ngIf="showForm" [formGroup]="addProductForm">
        <span class="ms-2 ">Add details</span>
        <input type="text" formControlName="productTitle" (keyup.enter)="addProduct()">
    </div>
    <div class="row">
        <ng-container *ngFor="let item of products">
            <div class="card card-body mt-2" >
                <div class="d-flex align-items-center justify-content-between text-lg-left flex-column flex-lg-row">
                    <div class="mr-2 mb-3 mb-lg-0">
                        <img [src]="item.thumbnail" width="150" height="150" alt="">
                    </div>
                    <div class="ms-2 description">
                        <div class="d-flex">
                            <h6 class="title">
                                <a (click)="redirectToDetails(item.id)">{{item.title | titlecase}}</a>
                            </h6>
                        </div>
                        <div class="category d-flex align-items-center">
                            <span class="bullet" [ngClass]="setClass(item.category)"></span>
                            <span class="ms-2" elemHighlighter>{{item.category}}</span>
                        </div>
                        <p class="mb-3 description-text">{{item.description | truncateText : 30 }}</p>
                    </div>
                    <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                        <h3 class="mb-0 font-weight-semibold">{{item.price | currency}}</h3>
                        <div>
                            <app-rating-stars [maxNum]="5" [rateNumber]="item.rating" (starRate)="getRating($event)"></app-rating-stars>
                        </div>
                        <div class="text-muted">Rating {{item.rating}} </div>
                        <div class="mt-2">
                            <button (click)="delete(item)">Delete</button>
                        </div>
                        <!-- <ng-container [ngSwitch]="item.inStock">
                            <button type="button" class="btn btn-warning mt-4 text-white" *ngSwitchCase="true">
                                <i class="bi bi-cart-plus"></i> 
                                Add to cart
                            </button>
                            <span class="text-danger" *ngSwitchCase="false">! Sold Out</span>
                        </ng-container> -->
                    </div>
                </div>
            </div>          
        </ng-container>
    </div>
    <div *ngIf="!products.length">
        Loading...
    </div>
    
</div>