<div class="d-flex">
    <div class="dashboard">
        <div class="card" style="width: 18rem;">
            <img [src]="student.img" class="card-img-top" alt="user photo">
            <div class="card-body">
              <h5 class="card-title" #getUser><b>Student name:</b>{{student.name}}</h5>
              <p class="card-text"><b>Email:</b>{{student.email}}</p>
              <p class="card-text"><b>Emploee Status:</b> {{student.employed ? 'Employed' : 'Open to work'}}</p>
              <p class="card-text">{{student.email}}</p>
              <p class="card-text"><b>Expected Salary:</b> {{student.salary}}</p>
              <p class="card-text"><b>Company Name:</b> {{student.company.name}}</p>
              <button href="#" class="btn btn-primary" (click)="getEmployStatus(student)">Get Data</button>
            </div>
        </div>
        <div class="user-action">
            <span>Type something:</span>
            <div class="mt-2">
                <input type="text" [(ngModel)]="userInputName">
                <button class="btn btn-primary"(click)="setUserName(userInputName)">Set Name</button>
            </div>
            <div class="mt-2">
                <span>Is employed:</span>
                <input type="checkbox" [(ngModel)]="student.employed">
            </div>
            <div class="mt-2">
                <span>Select:</span>
                <select [(ngModel)]="student.salary" class="ms-2">
                    <option selected default>Select minimum salary</option>
                    <option value="1000">1000+</option>
                    <option value="2500">2500+</option>
                    <option value="3000">3k+</option>
                </select>
            </div>
        </div>
    </div>
    <div>
        <app-child [companyData]="student.company" (sentDataToParent)="receiveData($event)"></app-child>
    </div>

</div>

